:root {
    --gap: 4px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  label,
  .tooltip,
  li {
    font-family: Lato;
  }
  
  header {
    text-align: center;
    padding: 25px;
    background-color: rgb(0, 135, 225);
    color: #fff;
    box-shadow: 1px 5px 15px -7px rgba(0, 0, 0, 0.25);
  }
  
  .signIn {
    position: absolute;
    right: 25px;
    top: 25px;
    padding: 8px;
    background-color: rgb(200, 200, 200);
    color: rgb(55, 55, 55);
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: lato;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.25);
  }
  
  .signIn:hover {
    background-color: rgb(95, 95, 95);
    color: rgb(250, 250, 250);
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .library {
    padding: 20px 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--gap);
    width: 70%;
    justify-content: flex-start;
    height: 80%;
    background-color: #ddd;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.25);
  }
  
  .shelf {
    position: absolute;
    height: 60px;
    width: 74%;
    background-color: rgb(202, 134, 70);
    box-shadow: 0px -10px 15px -7px rgba(0, 0, 0, 0.25);
    z-index: 10;
    border-radius: 2px;
  }
  
  /* .shelf::before {
    content: "";
    width: 40px;
    height: 200%;
    left: -34px;
    bottom: 0;
    position: absolute;
    background-color: rgb(202, 134, 70);
    border-radius: 2px;
  }
  
  .shelf::after {
    content: "";
    width: 40px;
    height: 200%;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgb(202, 134, 70);
    border-radius: 2px;
  } */
  
  .shelf:nth-child(1) {
    top: 85%;
  }
  
  .shelf:nth-child(2) {
    top: 176%;
    display: none;
  }
  
  .shelf:nth-child(3) {
    top: 267%;
    display: none;
  }
  
  .book,
  .newBook {
    height: 84%;
    min-width: 100px;
    max-width: 100px;
    background-color: #aaa;
    color: #444;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 40px 0;
    cursor: pointer;
  }
  
  .newBook {
    color: rgb(88, 88, 88);
    background-color: transparent;
    transition: 0.2s;
  }
  
  .tooltip {
    padding: 15px 15px;
    margin: 0 auto;
    width: 120%;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    z-index: 20;
    top: 70%;
    opacity: 0;
    transition: 0.2s;
    text-align: center;
  }
  
  .book:hover .tooltip {
    opacity: 1;
  }
  
  .book > h2 {
    transform: rotate(90deg);
  }
  
  .book:hover {
    transform: translateY(-10px) rotate(0);
  }
  
  .book:active {
    transform: translateY(-10px) rotate(0);
    background-color: #999;
  }
  
  .newBook:hover {
    color: rgb(0, 128, 255);
    background-color: #eee;
  }
  
  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .modal {
    padding: 25px;
    min-width: 40%;
    max-width: 60%;
    background-color: rgb(0, 225, 110);
    color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
    transition: 1s;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: 0.1s;
  }
  
  .close:hover {
    color: #888;
  }
  
  .modalAnim {
    animation: zoomIn 0.25s cubic-bezier(0.6, 0, 0.4, 1) forwards;
  }
  
  .bookTitle {
    margin: 15px 0;
    text-align: center;
  }
  
  .bookAuthor {
    margin: 15px 0;
    text-align: center;
  }
  
  .bookBottom {
    display: flex;
    margin: 15px 0;
    justify-content: space-around;
    align-items: center;
  }
  
  .bookDisplay {
    width: 80px;
    margin: 15px auto;
    height: 40px;
    background-color: #fff;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .updateButton,
  .deleteButton {
    width: 50%;
    color: rgb(107, 107, 107);
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .updateButton {
    border-right: solid 1px #aaa;
  }
  
  .updateButton:hover,
  .deleteButton:hover {
    background-color: #aaa;
    color: #fff;
  }
  
  .heading {
    margin-bottom: 15px;
  }
  
  .formContainer {
    display: flex;
    gap: 20px;
  }
  
  .formContainer > div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer > div > input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
  }
  
  .formContainer > div > input[type="checkbox"] {
    width: auto;
    margin: 20px auto;
  }
  
  .modal > form > button {
    width: 100%;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: lato;
    cursor: pointer;
    transition: 0.1s;
  }
  
  .modal > form > button:hover {
    background-color: #ccc;
    color: #fff;
  }
  
  .errors {
    background-color: rgb(255, 50, 50);
    list-style-type: none;
    border-radius: 3px;
    padding: 5px 10px;
    width: fit-content;
    margin: 20px auto 0px auto;
  }
  
  .errors > li {
    padding: 2px;
  }
  
  .library::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
  }
  .library::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 2px;
  }
  
  .library::-webkit-scrollbar-track {
    background: transparent;
  }
  
  @media screen and (max-width: 1660px) {
    .library {
      width: 75%;
    }
  
    .shelf:nth-child(2) {
      display: block;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .library {
      width: 80%;
    }
  
    .shelf:nth-child(3) {
      display: block;
    }
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  